@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@300;400;500;600;700;800&display=swap');
@import "tailwindcss";

:root {
  --background: #141414;
  --foreground: #ffffff;
  --accent: #d4ff00;
  --surface: #1c1c1c;
  --border: #2a2a2a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'DM Sans', sans-serif;
}
